

/* === slider === */
/* Slider */
.slider {
  position: relative;
}


.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 0.5%;
}

.front-image {
  position: absolute;
  width: 100%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.back-image {
  position: absolute;
  width: 100%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  mix-blend-mode:difference;
  z-index: 1;
}

