/*------------------------------- 全ページ共通部分 -------------------------------*/
body {
  background-color: #1a1a1a;
  font-family: Shippori Mincho;
  color: #eaeaea;
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;

}

* {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.movie_creator_course {
  text-align: center;
  margin-top: 10%;
}

.nav_right li {
  display: inline;
  padding: 0 10px;
  border-right: #ddd 1px solid;
  color: #eaeaea;

}

.nav_right li:last-child {
  border-right: none;
}

ul.nav_right {
  text-align: right;
  padding: 30px 30px 0 0;
  margin: 0;
}

a {
  color: #eaeaea;
  text-decoration: none;
}



/* Slider */
.slider-container_ph{
  display: none;
}

.slider {
  position: relative;
}


.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 0.5%;
}

.front-image {
  position: absolute;
  width: 100%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.back-image {
  position: absolute;
  width: 100%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  mix-blend-mode: difference;
  z-index: 1;
}

/*scloll down*/

.movie_sclolldown {

  position: relative;
}

.movie_sclolldown img {
  position: absolute;
  margin: -30% 0 0 -10%;
  z-index: 20;
  width: 25%;

}


/* time-schedule */

h1.movie_schedule_title {
  text-align: center;
}

.movie_time-schedule {
  max-width: 400px;
  word-break: keep-all;
  list-style: none;
  margin: 10% auto 0 50%;
  padding-left: 19px;
  border-left: 2px solid #ffffff;
  /*真ん中の線*/
  box-sizing: border-box;
}

.movie_time-schedule li {
  width: 100%;
  margin: 0 0;
  padding: 5px 0;
  position: relative;
}

.movie_time-schedule span.movie_time {
  width: 5em;
  display: inline-block;
  margin-left: -8em;
  padding: 0 0 5px;
  margin-top: 15px;
  vertical-align: top;
  position: relative;
  text-align: right;

}

.movie_time-schedule span.movie_time::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 0;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 10px;
}

.movie_time-schedule .movie_sch_box {
  display: inline-block;
  width: 100%;
  margin-left: 30px;
  padding: 15px 10px 15px 10px;
  box-sizing: border-box;
  border-radius: 6px;
}

.movie_time-schedule .movie_sch_title {
  font-size: 1rem;

}

.movie_time-schedule .movie_sch_tx {
  font-size: 0.8rem;

}


/*囲み*/
.movie_schedule {
  position: relative;
  border: solid 1px;
  border-radius: 2rem;
  padding: 5%;
  margin: 5% 20%;
}


/*コメント*/
.movie_box1 {
  position: absolute;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid;
  background-color: #67A49C;
  color: hsl(0, 0%, 10%);
  font-size: 50rem;
  top: 35%;
  right: 8%;
  width: 30%;
}


.movie_box p {
  line-height: 1.2;
  font-size: 0.8rem;
}

.movie_box1:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid #eaeaea;
  content: "";
}

.movie_box1:after {
  position: absolute;
  bottom: -3rem;
  left: 0;
  transform: skew(-50deg);
  height: 2.5rem;
  width: 2rem;
  border-right: 2px solid #eaeaea;
  content: "";
}


.movie_box2 {
  position: absolute;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid;
  background-color: #67A49C;
  color: hsl(0, 0%, 10%);
  font-size: 50rem;
  top: 65%;
  right: 8%;
  width: 30%;
}


.movie_box2:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid #eaeaea;
  content: "";
}

.movie_box2:after {
  position: absolute;
  bottom: -2rem;
  left: 20px;
  transform: skew(-60deg);
  height: 25px;
  width: 10px;
  border-right: 2px solid #eaeaea;
  content: "";
}

.movie_box3 {
  position: absolute;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid;
  background-color: #67A49C;
  color: hsl(0, 0%, 10%);
  font-size: 50rem;
  top: 70%;
  left: 8%;
  width: 30%;
}

.movie_box3:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid #eaeaea;
  content: "";
}

.movie_box3:after {
  position: absolute;
  bottom: -3rem;
  left: 50px;
  transform: skew(40deg);
  height: 2.5rem;
  width: 11rem;
  border-right: 2px solid #eaeaea;
  content: "";
}





/*スケジュール画像*/

.movie_sch_pic1 {
  position: absolute;
  width: 20%;
  top: 5%;
  left: -13%;
}

.movie_sch_pic2 {
  position: absolute;
  width: 18%;
  top: 15%;
  right: -10%;
}

.movie_sch_pic3 {
  position: absolute;
  width: 15%;
  top: 80%;
  left: -5%
}


/*lecture content*/

.movie_lec_content_l_ph {
  display: none;
}

.movie_curriculum {
  display: none;
}

.movie_lec_dt {
  margin-bottom: 10%;
}

.movie_gozira {
  position: relative;
}

.movie_gozira_1 {
  position: absolute;
  writing-mode: vertical-rl;
  opacity: 0.3;
  white-space: nowrap;
  color: #c1c1c1;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  margin-right: 1.2rem;
  left: 0;
}

.movie_gozira_2 {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  opacity: 0.3;
  white-space: nowrap;
  color: #c1c1c1;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  margin-right: 1.2rem;
  right: 0;
  bottom: -42rem;
}


/*レクチャーコンテンツ（右）*/

.movie_lec_content_r {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.movie_lec_content_r>div {
  width: 50%;
}

.movie_lecture {
  margin-left: -19px;
  width: 80%;

}

.movie_lecture>li {
  list-style-type: none;
  position: relative;
  padding-left: 5rem;
}

.movie_lecture>li:not(:last-child) {
  padding-bottom: 4rem;
}

.movie_lecture>li .icon1 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100vh;
  display: inline-block;
  position: absolute;
  left: -0.5em;
  font-size: 2.8rem;
}

.movie_lecture> ::before {
  content: '';
  background: #c3c3c3;
  width: 1px;
  height: 100%;
  position: absolute;
  top: calc(50% - -30px);
  left: 19px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}


/*--------左---------*/
.movie_lec_content_l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;

}

.movie_lec_content_l>div {
  width: 50%;
}

.movie_lec_l {
  display: flex;
  justify-content: flex-end;
}

.movie_lecture_l {
  margin-right: -19px;
  width: 80%;
}


.movie_lecture_l>li {
  list-style-type: none;
  position: relative;
  padding-right: 5rem;
}

.movie_lecture_l>li:not(:last-child) {
  padding-bottom: 4rem;
}

.movie_lecture_l>li .icon1 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100vh;
  display: inline-block;
  position: absolute;
  right: -0.5em;
  font-size: 2.8rem;
}

.movie_lecture_l>li:not(:last-child)::before {
  content: '';
  background: #c3c3c3;
  width: 1px;
  height: 200%;
  position: absolute;
  top: calc(50% - 20px);
  right: 18px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}


/*モバイル*/

.movie_lec_content_l_ph>div {
  width: 50%;
}

.movie_lecture_l_ph {
  margin-left: -19px;
  width: 80%;

}

.movie_lecture_l_ph>li {
  list-style-type: none;
  position: relative;
  padding-left: 5rem;
}

.movie_lecture_l_ph>li:not(:last-child) {
  padding-bottom: 4rem;
}

.movie_lecture_l_ph>li .icon1 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100vh;
  display: inline-block;
  position: absolute;
  left: -0.5em;
  font-size: 3rem;
}

.movie_lecture_l_ph> ::before {
  content: '';
  background: #c3c3c3;
  width: 1px;
  height: 165%;
  position: absolute;
  top: calc(50% - 0);
  left: 19px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/*-----------使用するソフトウェア-----------*/
.movie_soft {
  margin: 20%;
  text-align: center;
}

.movie_soft img {
  margin-top: 5%;
}


/*就職情報*/
.movie_job h2 {
  text-align: center;
}

.movie_job table {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}





/*卒業生の作品*/
.movie_bg {
  text-align: center;
  margin-top: 10%;
}

.movie_video video {
  text-align: center;
  width: 50%;
  margin-top: 10%;
}

/*貸出機材*/
.movie_camera h2 {
  text-align: center;
  margin-top: 10%;
}

.movie_camera_flex {
  margin-top: 10%;
  display: flex;

}

.movie_camera_flex .movie_camera_img {
  width: 30%;
  padding: 0;
  margin: 12% 8% 5% 10%;
  overflow: hidden;
  position: relative;
}

.movie_camera_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5% 0 0 0;
}

.movie_camera_title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  word-break: keep-all;
}

.movie_camera_text {
  margin: 0 0 0 -4rem;

}

.movie_camera h2 {
  text-align: center;
}

.movie_camera_img img {
  width: 100%;
  position: absolute;
}




/*contact*/
.movie_contact {
  padding-top: 10%;
  text-align: center;
  white-space: nowrap;
}

a.movie_contact {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px;
  text-align: center;
  padding: 0.5em 2em 0.5em 1em;
  margin: 15% 0;
}

a.movie_contact:before {
  content: "";
  display: inline-block;
  width: 18%;
  height: 1.5em;
  margin: 7% 0;
  background: url("../image/mail.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.movie_contact:hover {
  background: #6e6c6ca0;
  color: #ffffff;
}


/*モバイル対応*/
@media(max-width:767px) {

  .slider-container{
display: none;
  }

  .slider-container_ph{
    display: block;
    
    overflow: hidden;
  }
  .slider-container_ph img{
    width: 100%;
  }

  .movie_schedule {
    border: none;

  }

  .movie_sch_pic img {
    width: 30%;
  }

  img.movie_sch_pic1 {
    top: 20%;
    left: -17%;
  }

  img.movie_sch_pic2 {
    top: 12%;
    right: -20%;
  }

  img.movie_sch_pic3 {
    top: 94%;
    left: -13%;
  }


  .movie_curriculum {
    display: block;
    text-align: center;
    margin: 20%;
  }





  /*recture*/
  .movie_lec_l {
    display: none;
  }

  .movie_gozira {
    display: none;
  }

  .movie_box {
    display: none;
  }

  .movie_lec_content_r {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .movie_lec_content_r>div {
    margin: 0 0 0 12%;
    width: 100%;
  }

  .movie_lec_l_ph {
    display: block;
  }

  .movie_lec_content_l_ph {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie_lec_content_l_ph>div {
    margin: 0 0 0 12%;
    width: 100%;
  }

  /*卒業生の作品*/
  .movie_video video {
    width: 100%;
  }




  /*就職情報　縦書き*/

  .movie_job table th,
  table td {
    display: block;
    width: 100%;
  }

  /*貸出機材*/
  .movie_camera_flex {
    display: flex;
    margin: 0 10% 0 15%;
  }

  .movie_camera_right {
    margin: 0;
    display: initial;

  }

  .movie_camera_img img {
    display: none;
  }

  .movie_camera_flex .movie_camera_img {
    display: none;

  }


  .movie_camera_title {
    margin: 5% 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
    font-size: 16px;

  }

  .movie_camera_text {
    margin: 0;
    font-size: 0.7rem;
  }

}